.techfont{
  font-family: 'Fira Code', sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}
.bigbrand{
  font-size: 1.5em;
}

.centerstage{
  margin-left: auto;
  margin-right: auto;
}

body{
  background: #e7e7e7;
  font-family: Arial, Helvetica, Sans-serif;
  text-align: center;
  padding: 5px;
  margin: 0;
}
